body {
  font-family: Arial, sans-serif;
 
}

label{
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

select, input {
  width: 200px;         /* 幅をそろえる */
  margin-bottom: 12px;  /* 下の要素との間隔 */
  padding: 4px;
}

.form-row{
    display: flex;
    gap: 16px;
    align-items: flex-end;
    flex-wrap: wrap;
}
.form-item{
    display: flex;
    flex-direction: column;
}



#raid_table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

#raid_table th, #raid_table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#raid_table tr:hover{
    background-color: aliceblue;
}